@import "./home";
@import "./newSession";
@import "./session";
@import "./userCard";

.App {
  text-align: center;
  background-color: aqua;
  height: 100vh;

  .main-logo {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;

    img {
      position: absolute;
      top: -9999px;
      left: -9999px;
      right: -9999px;
      bottom: -9999px;
      margin: auto;
    }
  }
}

.btn {
  width: 300px;
  height: 60px;
  text-transform: uppercase;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-input {
  width: 300px;
  height: 60px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  text-transform: lowercase;
  color: gray;
  padding-left: 15px;
}

.text-input::placeholder {
  font-size: 2rem;
  text-transform: lowercase;
  color: lightgray;
}

@media only screen and (min-width: 1024px) {
  .selection-list-container {
    width: 1024px;
    margin: auto;
  }
}
